@tailwind base;
@tailwind components;
@tailwind utilities;

.baby-powder-bg {
    background-color: #FDFFFC;
}

.baby-powder {
    color: #f1fffa;
}

.rich-black-bg {
    background-color: #011627;
}

.rich-black {
    color: #011627;
}

.blush-bg {
    background-color: #F1E5E5;
}

.blush {
    color: #F1E5E5;
}

.cyan-bg {
    background-color: #119DA4;
}

.cyan {
    color: #119DA4;
}

.cyan-border {
    border: 1px solid #119DA4;
}

.cerulean-bg {
    background-color: #0C7489
}

.cerulean {
    color: #0C7489
}

input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    width: 21px;
    height: 21px;
    border: 1px solid #0C7489;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    outline: none;
}
input[type='checkbox']:checked {
    -webkit-appearance: none;
    appearance: none;
    background-color: #119DA4;
    position: relative;
    border-radius: 999px;
    border: none;
}
.recipe-divider {
    border-bottom: 1px solid #FDFFFC;
}
.recipe-top-divider {
    border-top: 1px solid #FDFFFC;
}
/* nav styles */
.open {
    width: 185px; 
} 
.closed {
    width: 75px;
    min-width:75px;
}
.closed span {
    display: none;
}
nav {
    transition: width 0.3s ease; 
    min-width:75px;
}
.nav-title {
    white-space: nowrap;
}
.icon {
    min-width: 1.75em;
}
.btn {
    background-color: #0C7489;
    color: #F1E5E5;
    padding: .5em 1em;
    border-radius: .75rem;
    width: 100%;
}
.plus-btn {
    background-color: #0C7489;
    color: #F1E5E5;
}
.plus-btn:hover {
    background-color: #119DA4;
}
.btn:hover {
    background-color: #119DA4;
}
.arrow-icon {
    transition: transform 0.4s ease-in-out;
}
.arrow-icon.rotated {
    transform: rotate(180deg);
}


  

  
  
  
  
  
  
